
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <nav>
    <a routerLink="/about-us" routerLinkActive="active">AboutUs</a>
    <a routerLink="/company-details" routerLinkActive="active">Company Details</a>
    <a routerLink="/employee-details" routerLinkActive="active">Employee Details</a>
    <a routerLink="/Other-details" routerLinkActive="active">Other Details</a>
    </nav>
 <br/>

<article>
<h2>Medicare </h2>
<p> medicare plans with an affordable- and sometimes $0-monthly premium.</p>
<p> Medicare Advantage and prescription drug plan Open Enrollment is here! You have from October 15 until December 7 to enroll in a Medicare Advantage or prescription drug plan.</p>
</article>

<article>
<h2>Dental & Vision </h2>
<p> Get a dental and vision care you and your family deserve.</p>
<p> Its time to take care of the little things that make a big difference.Getting the right insurance ia a good start</p>
</article>

<p> for more information</p>
<button type="button" (click)="goToUrl()">Click me!</button>
<br/><br/>
<footer>Copyright &copy; abc.com </footer>

